.second_heading{
margin-left:50px;
margin-top:50px;
}
.head{
width:50%;
float:left;
margin-left:50px;
}
.img_content{
margin-top:25px;
}
.suresh_photo{
width:10%;
float:left;
}
.suresh_photo img{
width:100px;
height:100px;
}
.history{
margin-left:150px;
margin-bottom:10px;
}
.half{
margin-left:150px;
margin-bottom:10px;
}
.third_heading{
margin-top:25px;
}

.kashif_photo{
width:10%;
float:left;
}
.kashif_photo img{
width:100px;
height:100px;
}
.kashif_history{
margin-left:150px;
margin-bottom:10px;
}
.final{
margin-left:150px;
margin-bottom:10px;
}



