body{
background-color:#d3d3d3;
}
.develop{
padding:10px;
}

.tophead{
background-color:#ffffff;
width:35%;
margin-left:20%;
margin-top:8%;
padding:15px;
border-radius:20px;
padding-bottom:40px;
}
.photo{
text-align:center;
}
.mobileaside_right{
background-color:#ffffff;
padding:10px;
width:15%;
border-radius:20px;
margin-left:60%;
margin-top:-34%;

}








