body{
background-color:#d3d3d3;
}


.change{
margin-top:10%;
margin-left:10%;
background-color:#ffffff;
width:15%;
height:60%;
padding:10px;
border-radius:10px;

}
.scroll{
background-color:#ffffff;
margin-left:30%;
margin-top:-33%;
width:35%;
padding:30px;
border-radius:10px;
}
.imagess {
text-align:center
}


