body
{
background-color:#d3d3d3;
}

.design{
margin-left:15%;
margin-top:10%;
background-color:#ffffff;
border-radius:10px;
padding:1px;
width:80%;
height:70%;
}

.contact{
margin-left:10%;
margin-top:20px;

}
.blue {
list-style-image:url('images_files/checkblue.gif');
margin-left:10%;
margin-top:5%;
}
.check{
list-style-image:url('images_files/checkblue.gif');
margin-left:10%;
margin-right:30%;
margin-top:-16%;
float:right;
}
.last{
margin-left:10%;
}